@import 'tailwindcss';

@theme inline {
  --color-background: var(--background);
  --color-primary: var(--text-primary);
  --color-secondary: var(--text-secondary);
  --color-accent: var(--accent);
  --color-shadow: var(--shadow);
  --color-active: var(--active);
  --color-menu-bg: var(--menu-bg);
  --color-menu-active: var(--menu-active);
}

@layer base {
  :root,
  [data-theme='theme-light'] {
    --background: var(--color-orange-100);
    --text-primary: var(--color-mist-800);
    --text-secondary: var(--color-amber-700);
    --accent: var(--color-amber-500);
    --shadow: var(--color-mist-500);
    --active: var(--color-white);
    --menu-bg: var(--color-amber-50);
    --menu-active: var(--color-amber-100);
  }

  [data-theme='theme-dark'] {
    --background: var(--color-mist-950);
    --text-primary: var(--color-orange-200);
    --text-secondary: var(--color-amber-700);
    --accent: var(--color-amber-500);
    --shadow: var(--color-mist-400);
    --active: var(--color-white)/50;
    --menu-bg: var(--color-mist-900);
    --menu-active: var(--color-mist-800);
  }
}

body {
  padding: 20px;
}

input:focus,
textarea:focus {
  outline: none;
}

li {
  border-top: 1px solid transparent;
  border-bottom: 1px solid transparent;
}

.listItem:has(textarea:focus) {
  border-top: 1px solid var(--color-shadow);
  border-bottom: 1px solid var(--color-shadow);
}

textarea {
  field-sizing: content;
  resize: none;
}

input[type='checkbox'] {
  -webkit-appearance: none;
  appearance: none;
  background-color: transparent;
  margin: 0 0 0 8px;

  font: inherit;
  color: #6a7282;
  width: 1.15em;
  height: 1.15em;
  border: 0.1em solid currentColor;
  border-radius: 0.15em;
  transform: translateY(-0.075em);
  display: grid;
  place-content: center;
}

input[type='checkbox']:hover,
input[type='checkbox']:focus {
  border: 0.15em solid currentColor;
}

input[type='checkbox']::before {
  content: '';
  width: 0.65em;
  height: 0.65em;
  transform: scale(0);
  border-color: #6a7282;
  transition: 120ms transform ease-in-out;
  box-shadow: inset 1em 1em var(--color-accent);
}

input[type='checkbox']:checked::before {
  transform: scale(1);
}

.listItem > button {
  opacity: 0;
}

li button:focus,
li:hover > button,
textarea:focus ~ button,
input[type='checkbox']:focus ~ button {
  opacity: 100%;
  outline: none;
}

.chevron {
  --s: 3px;

  width: 12px;
  aspect-ratio: 5/3;
}

.chevron__up {
  clip-path: polygon(0 100%, 0 calc(100% - var(--s)), 50% 0, 100% calc(100% - var(--s)), 100% 100%, 50% var(--s));
}

.chevron__down {
  clip-path: polygon(0 0, 0 var(--s), 50% 100%, 100% var(--s), 100% 0, 50% calc(100% - var(--s)));
}

.hamburger-menu {
  --c: #705567;

  height: 16px;
  aspect-ratio: 1;
  background:
    radial-gradient(closest-side at 92.5% 25%, var(--c) 9%, #0000 11%) 0 0/40% 60%,
    linear-gradient(var(--c) 50%, #0000 0) top/80% 40% repeat-y;
}
