@import 'tailwindcss';

@theme inline {
  --color-background: var(--background);
  --color-primary: var(--text-primary);
  --color-secondary: var(--text-secondary);
  --color-accent: var(--accent);
  --color-shadow: var(--shadow);
  --color-active: var(--active);
  --color-text-active: var(--text-accent);
  --color-menu-bg: var(--menu-bg);
  --color-menu-active: var(--menu-active);
  --color-drag-item-active: var(--drag-item-active)
}

@layer base {
  :root,
  [data-theme='theme-light'] {
    --background: var(--color-orange-100);
    --text-primary: var(--color-mist-800);
    --text-secondary: var(--color-amber-800);
    --accent: var(--color-amber-500);
    --text-accent: var(--color-amber-900);
    --shadow: var(--color-mist-500);
    --active: var(--color-white);
    --menu-bg: var(--color-amber-50);
    --menu-active: var(--color-amber-100);
    --drag-item-active: var(--color-orange-200)
  }

  [data-theme='theme-dark'] {
    --background: var(--color-mist-950);
    --text-primary: var(--color-orange-200);
    --text-secondary: var(--color-amber-700);
    --text-accent: var(--color-amber-300);
    --accent: var(--color-amber-500);
    --shadow: var(--color-mist-400);
    --active: var(--color-mist-500);
    --menu-bg: var(--color-mist-900);
    --menu-active: var(--color-mist-800);
    --drag-item-active: var(--color-mist-900)
  }
}

body {
  padding: 20px;
}

input:focus,
textarea:focus {
  outline: none;
}

li {
  border-top: 1px solid transparent;
  border-bottom: 1px solid transparent;
}

li:has(textarea:focus) {
  border-top: 1px solid var(--color-shadow);
  border-bottom: 1px solid var(--color-shadow);
}

input[type='checkbox'] {
  -webkit-appearance: none;
  appearance: none;
  color: #6a7282;
  border: 1px solid currentColor;
  transform: translateY(-0.075em);
  display: grid;
  place-content: center;
}

input[type='checkbox']:hover,
input[type='checkbox']:focus {
  border: 2px solid currentColor;
}

input[type='checkbox']::before {
  content: '';
  width: 12px;
  height: 12px;
  transform: scale(0);
  background-color: var(--color-accent);
  border-radius: 2px;
}

input[type='checkbox']:checked::before {
  transform: scale(1.2);
}

li button:last-of-type {
  opacity: 0;
}

li button:last-of-type:focus,
li:hover button:last-of-type,
textarea:focus ~ button:last-of-type,
input[type='checkbox']:focus ~ button:last-of-type {
  opacity: 100%;
  outline: none;
}

.chevron {
  --s: 3px;
  width: 12px;
  aspect-ratio: 5/3;
}

.chevron__up {
  clip-path: polygon(0 100%, 0 calc(100% - var(--s)), 50% 0, 100% calc(100% - var(--s)), 100% 100%, 50% var(--s));
}

.chevron__down {
  clip-path: polygon(0 0, 0 var(--s), 50% 100%, 100% var(--s), 100% 0, 50% calc(100% - var(--s)));
}

.hamburger-menu {
  --c: #705567;
  height: 16px;
  aspect-ratio: 1;
  background:
    radial-gradient(closest-side at 92.5% 25%, var(--c) 9%, #0000 11%) 0 0/40% 60%,
    linear-gradient(var(--c) 50%, #0000 0) top/80% 40% repeat-y;
}

.indent {
  padding-left: 35px;
}

#dropdown button {
  opacity: 100;
}